<configuration>
	<property name="LOGS" value="./logs" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %blue( [%thread] ) %highlight( %-5level ) %yellow( %logger{36} ) - %black( %msg%n )</pattern>
		</encoder>
	</appender>
	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/logs.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOGS}/archived/logs-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
	
	<logger name="br.com.claudemirojr.trade.service" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLING" />
	</logger>
	
	<logger name="br.com.claudemirojr.trade.audit" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLING" />
	</logger>
	
</configuration>